* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1: #39036B;
    --bg2: #6206B8;
    --bg3: #400478;
    --bg4: #f3e197;
}

.body {
    background-color: rgb(219, 219, 219);
    width:92vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.body .navbar{
    width: 90%;
    padding: .5rem 50px .5rem 20px    
}
.btn img {
    width: 20px;
    margin:0 2px
}

.btn:last-child {
    margin: 0 10px
}
.admin-content-postsWrapper{
    margin: 50px 5px;
    width: 70vw;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.568);   
}
.admin-content-postsWrapper-post-item {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 10px 0 5px;
}
.admin-content-postsWrapper-post-item:nth-child(odd) {
   background-color: #e4e4e4;
}
.admin-content-postsWrapper-post-item:nth-child(even) {
    background-color: #FFF;
 }
.post-item-title{
    text-decoration: underline;
    font-size: 1rem;
    white-space: nowrap;
}
.post-item-icons{
    display: flex;
    align-items: center;
}
.post-item-icons-imgWrapper{
    width: 20px;
    height: 20px;
    margin: 0 4px;
    cursor: pointer;
}
.post-item-icons-imgIcon{
    width: 100%;
    height: 100%;    
}
@media screen and (min-width: 768px) {
    .body .navbar{
        width: 100%;
        padding: .5rem 200px .5rem 20px
    
}
.admin-content-postsWrapper{
    width: 78%;
}

   
}