.signin--wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39036b;
}

.signin-box {
    width: 30%;
    margin: 0 auto;
}

.login-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 72px -21px #4a4444;
    -moz-box-shadow: 0px 0px 72px -21px #4a4444;
    box-shadow: 0px 0px 72px -21px #4a4444;
}

.logo {
    max-width: 30%;
}

.form-header {
    border-bottom: 1px solid #dfdfdf;
    min-height: 150px;
    padding: 15px 0 15px 0;
}

.form-body {
    min-height: 200px;
    padding: 20px 0 20px 0;
}

.form-group {
    display: block;
    width: 100%;
}

.form-label {
    display: none;
}

#entrar{
    background-color: #39036b;
    border: none;
    width: 35%;
    font-weight: bold;
}
#entrar:hover{
    background-color: #8867a6;
    border: none;
    width: 35%;
    font-weight: bold;
}