:root {
    --bg1: #39036B;
    --bg2: #6206B8;
    --bg3: #400478;
    --bg4: #f3e197;
    --bg5: #ff7300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    width: 100vw;
}

#news .news-item {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    margin: 0 auto 2rem;
    padding: 10px;
}

.img-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}

#news .content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

#news .content-wrapper .content-title {
    font-size: 1.5rem;
    color: var(--bg1);
}

#news .content-wrapper .content-summary {
    font-size: 1rem;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#news .content-wrapper .content-tag {
    font-size: 1rem;
    color: var(--bg5);
    font-weight: 300;
    text-transform: uppercase;
}

#news .content-wrapper .line {
    border-bottom: solid 2px #000;
    width: 90%;
    align-self: center;
}

@media only screen and (min-width: 1024px) {

    #news .news-item {
        display: flex;
        flex-direction: row;
        height: 90%;
        align-items: flex-start;
    }

    .img-wrapper {
        display: flex;
    }

    #news .news-item .content-summary{        
        height: 18vh;          
    }
    #news  .news-item .content-wrapper {
       width: 70vw;      
    }
 

}