* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1: #39036B;
    --bg2: #6206B8;
    --bg3: #400478;
    --bg4: #f3e197;
}
#admin{
    display: flex;
    width: 100vw;
  
}
.admin-sideBar {
    background-color: var(--bg1);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 20vw;
    padding: 10px;
}

.admin-sideBar-logoWrapper {
    margin: 40px 0;
}

[class*="admin-sideBar-btnsWrapper-btn"] {
    cursor: pointer;
    border-bottom: 1px solid #fff;
    height: 40px;
    width: 20vw;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px;
    transition: all .5s;
}

[class*="admin-sideBar-btnsWrapper-btn"]:hover {
    background-color: var(--bg2);
}

.btnsWrapper-btnimgWrapper {
    width: 30px;
    height: 30px;
}

.btnsWrapper-btnimgWrapper .sideBar-btnIconImg {

    width: 90%;
    height: 90%;
}

.sideBar-btnTitle {
    display: none;
}


@media screen and (min-width: 768px) {
    .admin-sideBar {
        width: 150px;
    }

    [class*="admin-sideBar-btnsWrapper-btn"] {
        cursor: pointer;
        border-bottom: 1px solid #fff;
        height: 40px;
        width: 140px;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 4px;
        transition: all .5s;
    }

    .sideBar-btnTitle {
        display: initial;
        font-size: 1.2rem;
    }
}